@model YourAcademy.Web.Models.CourseViewModel

@{
    ViewData["Title"] = "Courses";
}

<h2>Courses</h2>

@if (Model.Courses != null && Model.Courses.Any())
{
    @foreach (var course in Model.Courses)
    {
        <div class="container_fluid">
            <div class="row">
                <div class="col-2">
                    <div class="card mt-2" style="width: 18rem;">
                        <img class="card-img-top" src="@course.Image" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@course.Title</h5>
                            <p class="card-text">@course.Description</p>
                            <a href="#" class="btn btn-primary">Add To Cart</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    }

}
else
{
    <p>No courses available.</p>
}