@model YourAcademy.Web.Areas.Admin.Models.CategoryModel

@{
    ViewData["Title"] = "Categories";
}

<h2>Courses</h2>

@if (Model.Categories != null && Model.Categories.Any())
{
    <table>
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.Categories)
            {
                <tr>
                    <td>@category.Title</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No category available.</p>
}